In [1]:
import pandas as pd

## stop_id_route.csv

In [2]:
df_stops_route = pd.read_csv("../DB/stop_id_routes.csv",skip_blank_lines=True,index_col=False).drop_duplicates()

In [3]:
print(df_stops_route.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11584 entries, 0 to 11583
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   STOPPOINTID  11584 non-null  int64
 1   LINEID       11584 non-null  object
dtypes: int64(1), object(1)
memory usage: 271.5+ KB
None

In [4]:
df_stops_route.head()

   STOPPOINTID LINEID
0            2     38
1            2    38A
2            2    38D
3            2    38B
4            2    46A

In [5]:
df_stops_route.nunique()

STOPPOINTID    4601
LINEID          132
dtype: int64

In [6]:
df_stops_route.loc[df_stops_route['LINEID'] == '155']

       STOPPOINTID LINEID
14               6    155
109             27    155
114             28    155
119             29    155
131             37    155
...            ...    ...
10912         7113    155
11119         7294    155
11198         7353    155
11204         7361    155
11205         7362    155

[156 rows x 2 columns]

### Bus stops in stop_id_routes.csv

In [7]:
stop_id_route_stops = list(df_stops_route['STOPPOINTID'].unique())
print("No of stops:",len(stop_id_route_stops), "first 5 stops:",stop_id_route_stops[:5])

No of stops: 4601 first 5 stops: [2, 3, 4, 6, 7]

### Bus stops in result.csv

In [8]:
# df_stops_result = pd.read_csv("../DB/result.csv",skip_blank_lines=True,index_col=False).drop_duplicates()

In [9]:
# result_stops = list(df_stops_result['stopid'].unique())
# print("No of stops:",len(result_stops), "first 5 stops:",result_stops[:5])

### Bus stops in stop_id_routes.csv which are NOT in result.csv

In [10]:
# list(set(stop_id_route_stops) - set(result_stops))

In [11]:
# list(set(result_stops) - set(stop_id_route_stops))

## Janury_2018.csv

In [12]:
df_Jan = pd.read_csv("../DB/monthlyData/January_2018.csv",skip_blank_lines=True,index_col=False)
df_Jan.drop('VEHICLEID',axis=1,inplace=True)

In [13]:
print(df_Jan.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10525004 entries, 0 to 10525003
Data columns (total 8 columns):
 #   Column           Non-Null Count     Dtype
---  ------           --------------     -----
 0   DAYOFSERVICE     10525004 non-null  object
 1   TRIPID           10525004 non-null  int64
 2   PROGRNUMBER      10525004 non-null  int64
 3   STOPPOINTID      10525004 non-null  int64
 4   PLANNEDTIME_ARR  10525004 non-null  int64
 5   PLANNEDTIME_DEP  10525004 non-null  int64
 6   ACTUALTIME_ARR   10525004 non-null  int64
 7   ACTUALTIME_DEP   10525004 non-null  int64
dtypes: int64(7), object(1)
memory usage: 642.4+ MB
None

In [14]:
df_Jan.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP
0,2018-01-01,5958355,3,1172,23799,23799,23863,23863
1,2018-01-01,5958355,4,1173,23860,23860,23934,24072
2,2018-01-01,5958355,5,1174,23937,23937,24114,24140
3,2018-01-01,5958355,6,1175,24048,24048,24180,24192
4,2018-01-01,5958355,7,15,24130,24130,24227,24257

In [15]:
df_Jan.nunique()

DAYOFSERVICE          31
TRIPID             76453
PROGRNUMBER          103
STOPPOINTID         4714
PLANNEDTIME_ARR    68859
PLANNEDTIME_DEP    68859
ACTUALTIME_ARR     71982
ACTUALTIME_DEP     71965
dtype: int64

## rt_trips_DB_2018.csv

In [16]:
df_trips = pd.read_csv("../DB/monthlyData/rt_trips_DB_2018.csv",skip_blank_lines=True,index_col=False)

In [17]:
print(df_trips.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2182637 entries, 0 to 2182636
Data columns (total 9 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   DAYOFSERVICE     2182637 non-null  object
 1   TRIPID           2182637 non-null  int64
 2   LINEID           2182637 non-null  object
 3   ROUTEID          2182637 non-null  object
 4   DIRECTION        2182637 non-null  int64
 5   PLANNEDTIME_ARR  2182637 non-null  int64
 6   PLANNEDTIME_DEP  2182637 non-null  int64
 7   ACTUALTIME_ARR   2045430 non-null  float64
 8   ACTUALTIME_DEP   2018086 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 149.9+ MB
None

In [18]:
df_trips.head()

,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP
0,07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0
1,07-FEB-18 00:00:00,6262138,25B,25B_271,2,30517,26460,32752.0,NaN
2,07-FEB-18 00:00:00,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0
3,07-FEB-18 00:00:00,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0
4,07-FEB-18 00:00:00,6253175,14,14_15,1,85383,81600,84682.0,81608.0

In [19]:
df_trips.nunique()

DAYOFSERVICE          360
TRIPID             658964
LINEID                130
ROUTEID               588
DIRECTION               2
PLANNEDTIME_ARR     64461
PLANNEDTIME_DEP       791
ACTUALTIME_ARR      68122
ACTUALTIME_DEP      66771
dtype: int64

In [20]:
df_trips.loc[df_trips['LINEID'] == '155']

Empty DataFrame
Columns: [DAYOFSERVICE, TRIPID, LINEID, ROUTEID, DIRECTION, PLANNEDTIME_ARR, PLANNEDTIME_DEP, ACTUALTIME_ARR, ACTUALTIME_DEP]
Index: []

## Merge df_Jan_route with df_trips['TRIPID','LINEID'] on 'TRIPID'

In [21]:
df_Jan_route_prgm = pd.merge(df_Jan[['STOPPOINTID','TRIPID','PROGRNUMBER']].drop_duplicates(),\
                             df_trips[['TRIPID','LINEID']],on='TRIPID', how='left').drop_duplicates()
df_Jan_route_prgm = df_Jan_route_prgm[['STOPPOINTID','LINEID','PROGRNUMBER']]

In [22]:
print(df_Jan_route_prgm.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4189396 entries, 0 to 11525309
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   STOPPOINTID  4189396 non-null  int64
 1   LINEID       4189396 non-null  object
 2   PROGRNUMBER  4189396 non-null  int64
dtypes: int64(2), object(1)
memory usage: 127.9+ MB
None

In [23]:
df_Jan_route_prgm.head()

   STOPPOINTID LINEID  PROGRNUMBER
0         1172     41            3
1         1173     41            4
2         1174     41            5
3         1175     41            6
4           15     41            7

In [24]:
df_Jan_route_prgm.nunique()

STOPPOINTID    4714
LINEID          126
PROGRNUMBER     103
dtype: int64

In [25]:
df_Jan_route_prgm.loc[df_Jan_route_prgm['LINEID'] == '155']

Empty DataFrame
Columns: [STOPPOINTID, LINEID, PROGRNUMBER]
Index: []

## Merge df_stops_route with df_Jan_route_prgm on ['STOPPOINTID','LINEID'] pair

In [26]:
df_stops_route_prog = pd.merge(df_stops_route,df_Jan_route_prgm,on=['STOPPOINTID','LINEID'], how='left').drop_duplicates()

In [27]:
print(df_stops_route_prog.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16330 entries, 0 to 3762161
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   STOPPOINTID  16330 non-null  int64
 1   LINEID       16330 non-null  object
 2   PROGRNUMBER  15255 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 510.3+ KB
None

In [28]:
df_stops_route_prog.head()

     STOPPOINTID LINEID  PROGRNUMBER
0              2     38         10.0
327            2    38A         10.0
622            2    38D         10.0
627            2    38B         10.0
652            2    46A         50.0

In [29]:
df_stops_route_prog.nunique()

STOPPOINTID    4601
LINEID          132
PROGRNUMBER     103
dtype: int64

## Check STOPPOINTID, LINEID combinations with NaN PROGRNUMBER

In [30]:
df_stops_route_prog.loc[df_stops_route_prog['PROGRNUMBER'].isnull()]

         STOPPOINTID LINEID  PROGRNUMBER
5362               6    155          NaN
8947              10     16          NaN
8948              10    16C          NaN
22561             15    33E          NaN
25696             15    41D          NaN
...              ...    ...          ...
3755488         7637    63A          NaN
3756463         7640    84A          NaN
3756464         7640     84          NaN
3759456         7651    63A          NaN
3762161         7667     7D          NaN

[1075 rows x 3 columns]

In [31]:
df_stops_route_prog.loc[df_stops_route_prog['STOPPOINTID'] == 2]

      STOPPOINTID LINEID  PROGRNUMBER
0               2     38         10.0
327             2    38A         10.0
622             2    38D         10.0
627             2    38B         10.0
652             2    46A         50.0
730             2    46A         30.0
731             2    46A         34.0
824             2    46A          3.0
1947            2    46E         36.0

In [32]:
df_stops_route_prog.loc[df_stops_route_prog['LINEID'] == '155']

         STOPPOINTID LINEID  PROGRNUMBER
5362               6    155          NaN
46363             27    155          NaN
48830             28    155          NaN
51187             29    155          NaN
56563             37    155          NaN
...              ...    ...          ...
3574461         7113    155          NaN
3633829         7294    155          NaN
3651705         7353    155          NaN
3655329         7361    155          NaN
3655330         7362    155          NaN

[156 rows x 3 columns]

## Check interection of STOPPOINTID : df_Jan_route_prog and  df_stops_route_prog

In [33]:
Jan_route_prgm_stops = list(df_Jan_route_prgm['STOPPOINTID'].unique())
print("No of stops:",len(Jan_route_prgm_stops), "first 5 stops:",Jan_route_prgm_stops[:5])

No of stops: 4714 first 5 stops: [1172, 1173, 1174, 1175, 15]

In [34]:
stops_route_prog_stops = list(df_stops_route_prog['STOPPOINTID'].unique())
print("No of stops:",len(stops_route_prog_stops), "first 5 stops:",stops_route_prog_stops[:5])

No of stops: 4601 first 5 stops: [2, 3, 4, 6, 7]

In [35]:
stops = list(set(stops_route_prog_stops) - set(Jan_route_prgm_stops))
print("No of distinct current stops today:",len(stops), "first 5 stops:",stops[:5])

No of distinct current stops today: 0 first 5 stops: []

In [36]:
stops = list(set(Jan_route_prgm_stops) - set(stops_route_prog_stops))
print("No of distinct current stops  in Jan2018:",len(stops), "first 5 stops:",stops[:5])

No of distinct current stops  in Jan2018: 113 first 5 stops: [2576, 2079, 6180, 3621, 4137]

## Check interection of LINEID : df_Jan_route_prog and  df_stops_route_prog

In [37]:
Jan_route_prgm_routes = list(df_Jan_route_prgm['LINEID'].unique())
print("No of routes:",len(Jan_route_prgm_routes), "routes:",Jan_route_prgm_routes)

No of routes: 126 routes: ['41', '66', '77A', '83', '130', '151', '40', '122', '13', '65', '41C', '75', '33', '15', '7A', '27A', '67', '15B', '150', '39A', '123', '16', '27', '29A', '7', '145', '4', '39', '38', '46A', '18', '65B', '25A', '14', '25B', '31', '31A', '27B', '84', '40D', '15A', '17A', '54A', '38A', '9', '37', '33B', '184', '70', '104', '42', '63', '68', '66A', '32', '140', '47', '49', '44', '76', '61', '102', '43', '56A', '83A', '11', '79', '1', '120', '45A', '59', '69', '53', '17', '185', '270', '25', '79A', '238', '220', '26', '33A', '41B', '40B', '16C', '14C', '7D', '66B', '38B', '84A', '84X', '239', '68A', '111', '33X', '76A', '7B', '44B', '41A', '67X', '236', '31B', '39X', '66X', '114', '32X', '70D', '77X', '51X', '142', '25D', '51D', '69X', '42D', '27X', '25X', '46E', '38D', '41X', '116', '31D', '161', '118', '15D', '68X', '33D']

In [38]:
stops_route_prog_routes = list(df_stops_route_prog['LINEID'].unique())
print("No of routes:",len(stops_route_prog_routes), "routes:",stops_route_prog_routes)

No of routes: 132 routes: ['38', '38A', '38D', '38B', '46A', '46E', '120', '122', '7', '7A', '7B', '7D', '9', '4', '155', '13', '140', '40', '40B', '40D', '16', '16C', '11', '1', '44', '33E', '33', '41', '41B', '41C', '41D', '40E', '16D', '54A', '150', '220A', '220', '17A', '83', '83A', '14', '14C', '27B', '116', '747', '53', '123', '31A', '31B', '32', '29A', '31', '32X', '151', '41X', '27', '15', '27A', '142', '27X', '33D', '33X', '61', '118', '84X', '25', '25A', '25B', '25D', '25X', '26', '66', '66A', '67X', '66B', '66E', '66X', '67', '70', '51D', '51X', '37', '39', '39A', '145', '79A', '79', '15B', '15A', '15D', '77A', '56A', '47', '49', '77X', '84A', '17', '18', '130', '42', '43', '236', '238', '104', '175', '102', '65', '65B', '75', '75A', '68A', '68', '69X', '69', '17D', '236A', '63', '63A', '59', '45A', '45B', '111', '76', '76A', '185', '239', '44B', '84', '114', '184', '270', '161']

In [39]:
routes = list(set(stops_route_prog_routes) - set(Jan_route_prgm_routes))
print("No of Extra routes Today:",len(routes), "routes:",routes)

No of Extra routes Today: 14 routes: ['175', '41D', '75A', '16D', '63A', '33E', '220A', '17D', '747', '40E', '45B', '155', '66E', '236A']

In [40]:
routes = list(set(Jan_route_prgm_routes) - set(stops_route_prog_routes))
print("No of Extra routes in Jan2018:",len(routes), "routes:",routes)

No of Extra routes in Jan2018: 8 routes: ['68X', '39X', '70D', '33A', '41A', '42D', '31D', '33B']