In [1]:
import pandas as pd

## stop_id_route.csv

In [2]:
df_stops_route = pd.read_csv("../DB/stop_id_routes.csv",skip_blank_lines=True,index_col=False).drop_duplicates()

In [3]:
print(df_stops_route.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10975 entries, 0 to 10974
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   STOPPOINTID  10975 non-null  int64
 1   LINEID       10975 non-null  object
dtypes: int64(1), object(1)
memory usage: 257.2+ KB
None

In [4]:
df_stops_route.head()

   STOPPOINTID LINEID
0            2     38
1            2    38A
2            2    38D
3            2    38B
4            2    46A

In [5]:
df_stops_route.nunique()

STOPPOINTID    4187
LINEID          104
dtype: int64

In [6]:
df_stops_route.loc[df_stops_route['LINEID'] == '155']

       STOPPOINTID LINEID
14               6    155
109             27    155
114             28    155
119             29    155
131             37    155
...            ...    ...
10583         7353    155
10588         7361    155
10589         7362    155
10961         7697    155
10962         7698    155

[158 rows x 2 columns]

### Bus stops in stop_id_routes.csv

In [7]:
stop_id_route_stops = list(df_stops_route['STOPPOINTID'].unique())
print("No of stops:",len(stop_id_route_stops), "first 5 stops:",stop_id_route_stops[:5])

No of stops: 4187 first 5 stops: [2, 3, 4, 6, 7]

### Bus stops in result.csv

In [8]:
df_stops_result = pd.read_csv("../DB/result.csv",skip_blank_lines=True,index_col=False).drop_duplicates()

In [10]:
result_stops = list(df_stops_result['stopid'].unique())
print("No of stops:",len(result_stops), "first 5 stops:",result_stops[:5])

No of stops: 4187 first 5 stops: [2, 3, 4, 6, 7]

### Bus stops in stop_id_routes.csv which are NOT in result.csv

In [11]:
list(set(stop_id_route_stops) - set(result_stops))

[]

In [12]:
list(set(result_stops) - set(stop_id_route_stops))

[]

## Janury_2018.csv

In [13]:
df_Jan = pd.read_csv("../DB/monthlyData/January_2018.csv",skip_blank_lines=True,index_col=False)
df_Jan.drop('VEHICLEID',axis=1,inplace=True)

In [14]:
print(df_Jan.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10525004 entries, 0 to 10525003
Data columns (total 8 columns):
 #   Column           Non-Null Count     Dtype
---  ------           --------------     -----
 0   DAYOFSERVICE     10525004 non-null  object
 1   TRIPID           10525004 non-null  int64
 2   PROGRNUMBER      10525004 non-null  int64
 3   STOPPOINTID      10525004 non-null  int64
 4   PLANNEDTIME_ARR  10525004 non-null  int64
 5   PLANNEDTIME_DEP  10525004 non-null  int64
 6   ACTUALTIME_ARR   10525004 non-null  int64
 7   ACTUALTIME_DEP   10525004 non-null  int64
dtypes: int64(7), object(1)
memory usage: 642.4+ MB
None

In [15]:
df_Jan.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP
0,2018-01-01,5958355,3,1172,23799,23799,23863,23863
1,2018-01-01,5958355,4,1173,23860,23860,23934,24072
2,2018-01-01,5958355,5,1174,23937,23937,24114,24140
3,2018-01-01,5958355,6,1175,24048,24048,24180,24192
4,2018-01-01,5958355,7,15,24130,24130,24227,24257

In [16]:
df_Jan.nunique()

DAYOFSERVICE          31
TRIPID             76453
PROGRNUMBER          103
STOPPOINTID         4714
PLANNEDTIME_ARR    68859
PLANNEDTIME_DEP    68859
ACTUALTIME_ARR     71982
ACTUALTIME_DEP     71965
dtype: int64

## rt_trips_DB_2018.csv

In [17]:
df_trips = pd.read_csv("../DB/monthlyData/rt_trips_DB_2018.csv",skip_blank_lines=True,index_col=False)

In [18]:
print(df_trips.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2182637 entries, 0 to 2182636
Data columns (total 16 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   DATASOURCE       2182637 non-null  object
 1   DAYOFSERVICE     2182637 non-null  object
 2   TRIPID           2182637 non-null  int64
 3   LINEID           2182637 non-null  object
 4   ROUTEID          2182637 non-null  object
 5   DIRECTION        2182637 non-null  int64
 6   PLANNEDTIME_ARR  2182637 non-null  int64
 7   PLANNEDTIME_DEP  2182637 non-null  int64
 8   ACTUALTIME_ARR   2045430 non-null  float64
 9   ACTUALTIME_DEP   2018086 non-null  float64
 10  BASIN            2182637 non-null  object
 11  TENDERLOT        0 non-null        float64
 12  SUPPRESSED       4333 non-null     float64
 13  JUSTIFICATIONID  4330 non-null     float64
 14  LASTUPDATE       2182637 non-null  object
 15  NOTE             2182637 non-null  object
dtypes: float64(5), int64(4), object(7)
memory usage: 266.4+ MB
None

In [19]:
df_trips.head()

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2967409,"
1,DB,07-FEB-18 00:00:00,6262138,25B,25B_271,2,30517,26460,32752.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2580260,"
2,DB,07-FEB-18 00:00:00,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2448968,"
3,DB,07-FEB-18 00:00:00,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3094242,"
4,DB,07-FEB-18 00:00:00,6253175,14,14_15,1,85383,81600,84682.0,81608.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2526331,"

In [20]:
df_trips.nunique()

DATASOURCE              1
DAYOFSERVICE          360
TRIPID             658964
LINEID                130
ROUTEID               588
DIRECTION               2
PLANNEDTIME_ARR     64461
PLANNEDTIME_DEP       791
ACTUALTIME_ARR      68122
ACTUALTIME_DEP      66771
BASIN                   1
TENDERLOT               0
SUPPRESSED              1
JUSTIFICATIONID      3526
LASTUPDATE            360
NOTE                46690
dtype: int64

In [21]:
df_trips.loc[df_trips['LINEID'] == '155']

Empty DataFrame
Columns: [DATASOURCE, DAYOFSERVICE, TRIPID, LINEID, ROUTEID, DIRECTION, PLANNEDTIME_ARR, PLANNEDTIME_DEP, ACTUALTIME_ARR, ACTUALTIME_DEP, BASIN, TENDERLOT, SUPPRESSED, JUSTIFICATIONID, LASTUPDATE, NOTE]
Index: []

## Merge df_Jan_route with df_trips['TRIPID','LINEID'] on 'TRIPID'

In [22]:
df_Jan_route_prgm = pd.merge(df_Jan[['STOPPOINTID','TRIPID','PROGRNUMBER']].drop_duplicates(),\
                             df_trips[['TRIPID','LINEID']],on='TRIPID', how='left').drop_duplicates()
df_Jan_route_prgm = df_Jan_route_prgm[['STOPPOINTID','LINEID','PROGRNUMBER']]

In [23]:
print(df_Jan_route_prgm.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4189396 entries, 0 to 11525309
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   STOPPOINTID  4189396 non-null  int64
 1   LINEID       4189396 non-null  object
 2   PROGRNUMBER  4189396 non-null  int64
dtypes: int64(2), object(1)
memory usage: 127.9+ MB
None

In [24]:
df_Jan_route_prgm.head()

   STOPPOINTID LINEID  PROGRNUMBER
0         1172     41            3
1         1173     41            4
2         1174     41            5
3         1175     41            6
4           15     41            7

In [25]:
df_Jan_route_prgm.nunique()

STOPPOINTID    4714
LINEID          126
PROGRNUMBER     103
dtype: int64

In [26]:
df_Jan_route_prgm.loc[df_Jan_route_prgm['LINEID'] == '155']

Empty DataFrame
Columns: [STOPPOINTID, LINEID, PROGRNUMBER]
Index: []

## Merge df_stops_route with df_Jan_route_prgm on ['STOPPOINTID','LINEID'] pair

In [27]:
df_stops_route_prog = pd.merge(df_stops_route,df_Jan_route_prgm,on=['STOPPOINTID','LINEID'], how='left').drop_duplicates()

In [28]:
print(df_stops_route_prog.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15484 entries, 0 to 3622331
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   STOPPOINTID  15484 non-null  int64
 1   LINEID       15484 non-null  object
 2   PROGRNUMBER  14536 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 483.9+ KB
None

In [29]:
df_stops_route_prog.head()

     STOPPOINTID LINEID  PROGRNUMBER
0              2     38         10.0
327            2    38A         10.0
622            2    38D         10.0
627            2    38B         10.0
652            2    46A         50.0

In [30]:
df_stops_route_prog.nunique()

STOPPOINTID    4187
LINEID          104
PROGRNUMBER     103
dtype: int64

## Check STOPPOINTID, LINEID combinations with NaN PROGRNUMBER

In [31]:
df_stops_route_prog.loc[df_stops_route_prog['PROGRNUMBER'].isnull()]

         STOPPOINTID LINEID  PROGRNUMBER
5362               6    155          NaN
8947              10     16          NaN
8948              10    16C          NaN
22561             15    33E          NaN
25696             15    41D          NaN
...              ...    ...          ...
3622327         7704     66          NaN
3622328         7704    66X          NaN
3622329         7712    66X          NaN
3622330         7712    66E          NaN
3622331         7712     66          NaN

[948 rows x 3 columns]

In [32]:
df_stops_route_prog.loc[df_stops_route_prog['STOPPOINTID'] == 2]

      STOPPOINTID LINEID  PROGRNUMBER
0               2     38         10.0
327             2    38A         10.0
622             2    38D         10.0
627             2    38B         10.0
652             2    46A         50.0
730             2    46A         30.0
731             2    46A         34.0
824             2    46A          3.0
1947            2    46E         36.0

In [33]:
df_stops_route_prog.loc[df_stops_route_prog['LINEID'] == '155']

         STOPPOINTID LINEID  PROGRNUMBER
5362               6    155          NaN
46363             27    155          NaN
48830             28    155          NaN
51187             29    155          NaN
56563             37    155          NaN
...              ...    ...          ...
3516761         7353    155          NaN
3519960         7361    155          NaN
3519961         7362    155          NaN
3622318         7697    155          NaN
3622319         7698    155          NaN

[158 rows x 3 columns]

## Check interection of STOPPOINTID : df_Jan_route_prog and  df_stops_route_prog

In [55]:
Jan_route_prgm_stops = list(df_Jan_route_prgm['STOPPOINTID'].unique())
print("No of stops:",len(Jan_route_prgm_stops), "first 5 stops:",Jan_route_prgm_stops[:5])

No of stops: 4714 first 5 stops: [1172, 1173, 1174, 1175, 15]

In [56]:
stops_route_prog_stops = list(df_stops_route_prog['STOPPOINTID'].unique())
print("No of stops:",len(stops_route_prog_stops), "first 5 stops:",stops_route_prog_stops[:5])

No of stops: 4187 first 5 stops: [2, 3, 4, 6, 7]

In [57]:
stops = list(set(stops_route_prog_stops) - set(Jan_route_prgm_stops))
print("No of distinct current stops today:",len(stops), "first 5 stops:",stops[:5])

No of distinct current stops today: 42 first 5 stops: [7040, 7041, 7680, 7681, 7683]

In [58]:
stops = list(set(Jan_route_prgm_stops) - set(stops_route_prog_stops))
print("No of distinct current stops  in Jan2018:",len(stops), "first 5 stops:",stops[:5])

No of distinct current stops  in Jan2018: 569 first 5 stops: [2048, 2049, 2050, 4097, 2052]

## Check interection of LINEID : df_Jan_route_prog and  df_stops_route_prog

In [59]:
Jan_route_prgm_routes = list(df_Jan_route_prgm['LINEID'].unique())
print("No of routes:",len(Jan_route_prgm_routes), "first 5 routes:",Jan_route_prgm_routes[:5])

No of routes: 126 first 5 routes: ['41', '66', '77A', '83', '130']

In [60]:
stops_route_prog_routes = list(df_stops_route_prog['LINEID'].unique())
print("No of routes:",len(stops_route_prog_routes), "first 5 routes:",stops_route_prog_routes[:5])

No of routes: 104 first 5 routes: ['38', '38A', '38D', '38B', '46A']

In [61]:
routes = list(set(stops_route_prog_routes) - set(Jan_route_prgm_routes))
print("No of Extra routes Today:",len(routes), "first 5 routes:",routes[:5])

No of Extra routes Today: 7 first 5 routes: ['40E', '155', '16D', '41D', '66E']

In [62]:
routes = list(set(Jan_route_prgm_routes) - set(stops_route_prog_routes))
print("No of Extra routes in Jan2018:",len(routes), "first 5 routes:",routes[:5])

No of Extra routes in Jan2018: 29 first 5 routes: ['76A', '184', '104', '17', '41A']