# Regerssors : Model for each route on each direction
* **Notebook genrates Linear regression models for each bus route on either direction** 
* **TIME parameters are considered in minutes resolution**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.pipeline import make_pipeline
from lightgbm import LGBMRegressor
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder 
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LinearRegression 
from sklearn.ensemble import RandomForestRegressor
from sklearn.compose import TransformedTargetRegressor
from sklearn import metrics
import math

# Using sklearn to split data into training and testing sets,train classifier and regressor models 
from sklearn.model_selection import train_test_split

#pickle package saves and loads sklearn models
import pickle

from warnings import filterwarnings
filterwarnings('ignore')

## Source of Truth gathered in prior EDA
* **TRIPID**
    * **TRIPID are shared across days for perticular LINEID on particular ROUTEID**
    * For a single TRIPID, only one corresponding LINEID and ROUTEID are present
    * TRIPID for inbound and outbound directions are mutually exclusive
    * For certein TRIPIDs; PROGNUMBER do not start at 1; which should. It means, some entries are missing.
* **LINEID**
    * **For a LINEID; ROUTEIDs and TRIPIDs used for DIFFERENT DIRECTION are mutually exclusive**
* **ROUTEID**
    * A LINEID has multiple ROUTEID 
    * A LINEID may / may not have trips with both INBOUND-going(1)/OUTBOUND-returning(2) direction 
    * **THOUGH 2 ROUTES FOR A LINEID ARE HAVING SAME DIRECTION; STOPPOINTIDs VISITED ARE DIFFERENT**
    * **FOR A SINGLE ROUTE; STOPS VISITED DURING DIFFERENT TRIPS ARE DIFEENRENT**
    * **ROUTEIDs ARE NOT KNOWN TO USER & ROUTEIDs ARE NOT TIMEBOUND i.e. timetable DOES NOT exists to follow a ROUTEID**
    * **majority of data for a LINEID is tied with a particular ROUTEID**
* **PLANNED ARRIVAL AND DEPARTURE TIMES ARE SAME FOR ALL ENTRIES; HENCE "PLANNEDTIME_DEP" CAN BE DROPPED**

## Read Merge df_Jan with df_trips on 'TRIPID'

In [3]:
df_Jan_trips_arr = pd.read_csv("../DB/ML/weather_Jan_trips_arr_MINUTES.csv",skip_blank_lines=True,index_col=False)

In [4]:
print("Shape of dataframe",df_Jan_trips_arr.shape)
df_Jan_trips_arr.head()

Shape of dataframe (9473485, 13)

,year,month,dayofweek_num,quarter,LINEID,DIRECTION,STOPPOINTID,PROGRNUMBER,PLANNEDTIME_ARR,feels_like,wind_speed,weather_id,ACTUALTIME_ARR
0,2018,1,0,1,41,1,1172,3,23760,-1.5,5.7,803,23863
1,2018,1,0,1,41,1,1173,4,23820,-1.5,5.7,803,23934
2,2018,1,0,1,41,1,1174,5,23880,-1.5,5.7,803,24114
3,2018,1,0,1,41,1,1175,6,24000,-1.5,5.7,803,24180
4,2018,1,0,1,41,1,15,7,24120,-1.5,5.7,803,24227

In [5]:
df_Jan_trips_arr['year'] = df_Jan_trips_arr['year'].astype('category')
df_Jan_trips_arr['month'] = df_Jan_trips_arr['month'].astype('category')
df_Jan_trips_arr['dayofweek_num'] = df_Jan_trips_arr['dayofweek_num'].astype('category')
df_Jan_trips_arr['quarter'] = df_Jan_trips_arr['quarter'].astype('category')
df_Jan_trips_arr['PROGRNUMBER'] = df_Jan_trips_arr['PROGRNUMBER'].astype('category')
df_Jan_trips_arr['STOPPOINTID'] = df_Jan_trips_arr['STOPPOINTID'].astype('category')
df_Jan_trips_arr['PLANNEDTIME_ARR'] = pd.to_numeric(df_Jan_trips_arr['PLANNEDTIME_ARR'], downcast='integer', errors='coerce')
df_Jan_trips_arr['ACTUALTIME_ARR'] = pd.to_numeric(df_Jan_trips_arr['ACTUALTIME_ARR'], downcast='integer', errors='coerce')
df_Jan_trips_arr['LINEID'] = df_Jan_trips_arr['LINEID'].astype('category')
df_Jan_trips_arr['DIRECTION'] = df_Jan_trips_arr['DIRECTION'].astype('category')
df_Jan_trips_arr['feels_like'] = pd.to_numeric(df_Jan_trips_arr['feels_like'], errors='coerce')
df_Jan_trips_arr['wind_speed'] = pd.to_numeric(df_Jan_trips_arr['wind_speed'], errors='coerce')
df_Jan_trips_arr['weather_id'] = df_Jan_trips_arr['weather_id'].astype('category')

### Object types and valid entries

In [6]:
print(df_Jan_trips_arr.info(null_counts = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9473485 entries, 0 to 9473484
Data columns (total 13 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   year             9473485 non-null  category
 1   month            9473485 non-null  category
 2   dayofweek_num    9473485 non-null  category
 3   quarter          9473485 non-null  category
 4   LINEID           9473485 non-null  category
 5   DIRECTION        9473485 non-null  category
 6   STOPPOINTID      9473485 non-null  category
 7   PROGRNUMBER      9473485 non-null  category
 8   PLANNEDTIME_ARR  9473485 non-null  int32
 9   feels_like       9473485 non-null  float64
 10  wind_speed       9473485 non-null  float64
 11  weather_id       9473485 non-null  category
 12  ACTUALTIME_ARR   9473485 non-null  int32
dtypes: category(9), float64(2), int32(2)
memory usage: 307.4 MB
None

### Nature of data

In [7]:
df_Jan_trips_arr.head(100)

,year,month,dayofweek_num,quarter,LINEID,DIRECTION,STOPPOINTID,PROGRNUMBER,PLANNEDTIME_ARR,feels_like,wind_speed,weather_id,ACTUALTIME_ARR
0,2018,1,0,1,41,1,1172,3,23760,-1.5,5.7,803,23863
1,2018,1,0,1,41,1,1173,4,23820,-1.5,5.7,803,23934
2,2018,1,0,1,41,1,1174,5,23880,-1.5,5.7,803,24114
3,2018,1,0,1,41,1,1175,6,24000,-1.5,5.7,803,24180
4,2018,1,0,1,41,1,15,7,24120,-1.5,5.7,803,24227
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2018,1,0,1,77A,1,2099,22,26820,-1.5,5.7,803,26905
96,2018,1,0,1,77A,1,2101,23,26820,-1.5,5.7,803,26940
97,2018,1,0,1,77A,1,2102,24,26880,-1.5,5.7,803,27005
98,2018,1,0,1,77A,1,2103,25,26880,-1.5,5.7,803,27034
99,2018,1,0,1,77A,1,2332,26,26940,-1.5,5.7,803,27044

### Unique entries

In [8]:
df_Jan_trips_arr.nunique()

year                   1
month                  1
dayofweek_num          7
quarter                1
LINEID               126
DIRECTION              2
STOPPOINTID         4516
PROGRNUMBER          102
PLANNEDTIME_ARR     1215
feels_like           142
wind_speed            36
weather_id            16
ACTUALTIME_ARR     70065
dtype: int64

### Entries for LINEID 41 DIRECTION 1 which faces exception during handling

In [9]:
df_Jan_trips_arr_41_1 = df_Jan_trips_arr.loc[(df_Jan_trips_arr["LINEID"] == "41") & 
                                                 (df_Jan_trips_arr["DIRECTION"] == 1)].copy()

In [10]:
df_Jan_trips_arr_41_1

,year,month,dayofweek_num,quarter,LINEID,DIRECTION,STOPPOINTID,PROGRNUMBER,PLANNEDTIME_ARR,feels_like,wind_speed,weather_id,ACTUALTIME_ARR
0,2018,1,0,1,41,1,1172,3,23760,-1.5,5.7,803,23863
1,2018,1,0,1,41,1,1173,4,23820,-1.5,5.7,803,23934
2,2018,1,0,1,41,1,1174,5,23880,-1.5,5.7,803,24114
3,2018,1,0,1,41,1,1175,6,24000,-1.5,5.7,803,24180
4,2018,1,0,1,41,1,15,7,24120,-1.5,5.7,803,24227
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9465036,2018,1,2,1,41,1,4912,47,84180,-1.5,5.7,801,83984
9465037,2018,1,2,1,41,1,4913,48,84180,-1.5,5.7,801,84020
9465038,2018,1,2,1,41,1,4914,49,84240,-1.5,5.7,801,84037
9465039,2018,1,2,1,41,1,4915,50,84240,-1.5,5.7,801,84073
9465040,2018,1,2,1,41,1,4957,51,84300,-1.5,5.7,801,84129

In [11]:
df_Jan_trips_arr_41_1.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71010 entries, 0 to 9465040
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             71010 non-null  category
 1   month            71010 non-null  category
 2   dayofweek_num    71010 non-null  category
 3   quarter          71010 non-null  category
 4   LINEID           71010 non-null  category
 5   DIRECTION        71010 non-null  category
 6   STOPPOINTID      71010 non-null  category
 7   PROGRNUMBER      71010 non-null  category
 8   PLANNEDTIME_ARR  71010 non-null  int32
 9   feels_like       71010 non-null  float64
 10  wind_speed       71010 non-null  float64
 11  weather_id       71010 non-null  category
 12  ACTUALTIME_ARR   71010 non-null  int32
dtypes: category(9), float64(2), int32(2)
memory usage: 3.0 MB

In [12]:
df_Jan_trips_arr_41_1.nunique()

year                   1
month                  1
dayofweek_num          7
quarter                1
LINEID                 1
DIRECTION              1
STOPPOINTID           51
PROGRNUMBER           51
PLANNEDTIME_ARR     1117
feels_like           139
wind_speed            36
weather_id            16
ACTUALTIME_ARR     42448
dtype: int64

## Train model for each LINEID for each direction

### Obtain pairs of LINEID for either direction
* Some LINEIDs have valid Entries for a single direction only. 
Particularly for January data, following combinations produce error while data handling
* line 41A direction 1
* line 77X direction 1
* line 51X direction 1
* line 46E direction 1
* line 118 direction 1
* line 68X direction 

Hence; follwoing step avoids exceptions during model creation.

In [13]:
df_line_dir_pair = pd.read_csv('../DB/dominant_route.csv',index_col=False)[['LINEID','DIRECTION']]

In [14]:
df_line_dir_pair

    LINEID  DIRECTION
0       41          1
1       41          2
2       66          1
3       66          2
4      77A          1
..     ...        ...
241    15D          1
242    15D          2
243    68X          2
244    33D          1
245    33D          2

[246 rows x 2 columns]

## Model

### Regression pipeline

In [15]:
'''
Pipeline with transformed target regressor is defined
'''
def regressorModel(num_col,cat_col,regression_algo = "Linear"):
    
    
    algorithms = {"Linear": LinearRegression(),"LGBM": LGBMRegressor()}
    std_scalar = StandardScaler()
    oh_encoder = OneHotEncoder()
    ordinal_encoder = OrdinalEncoder()

    pipe_lin_reg = make_pipeline(
        ColumnTransformer([
            ('num', std_scalar, num_col),
            ('cat', ordinal_encoder, cat_col)    
        ]),
        algorithms[regression_algo]
    )

    regressor = TransformedTargetRegressor(regressor=pipe_lin_reg, transformer=std_scalar)
    return regressor

### list of feature based on datatypes

In [16]:
'''
get_column_lists(df) returns lists of catagorical and 
numerical columns in the input dataframe
'''
def get_column_lists(df):
    cat_col = list(df.select_dtypes(include=['category']).columns)
    num_col = list(df.select_dtypes(exclude=['category','object','datetime']).columns)
    
    return num_col,cat_col

###  Train model with data for LINEID x  and  DIRECTION y

In [17]:
for _, row in df_line_dir_pair.iterrows():
    
    # pair of LINEID and DIRECTION is taken in variable. Seperate model is trained for each pair
    line = row['LINEID']
    direction = row['DIRECTION']
    
    # Dataframe slice for pair of LINEID and DIRECTION is taken for operation
    df_Jan_trips_arr_LINE_DIR = df_Jan_trips_arr.loc[(df_Jan_trips_arr["LINEID"] == line) & 
                                                     (df_Jan_trips_arr["DIRECTION"] == direction)].copy().reset_index(drop=True)
    
    # INPUT and TARGET features
    X = df_Jan_trips_arr_LINE_DIR[["year","month","dayofweek_num","quarter","PROGRNUMBER",\
                         "STOPPOINTID","PLANNEDTIME_ARR","feels_like","wind_speed","weather_id"]].copy().reset_index(drop=True)
    Y = df_Jan_trips_arr_LINE_DIR[["ACTUALTIME_ARR"]].copy().reset_index(drop=True)
    
    # Train model
    num_col,cat_col = get_column_lists(X)
    regressor = regressorModel(num_col,cat_col,regression_algo="Linear")
    try:
        model = regressor.fit(X, Y)
    except Exception as e:
        print(line, direction,"\nInput features\n" ,X.head(),"\nTarget features\n" ,Y.head(), e)
        continue
    
    # Save model
    filename = str(line)+"_"+str(direction)+'.pkl'
    pickle.dump(model, open("models/07/"+filename, 'wb'))

## Validation and Evaluation

### Model validation

In [18]:
def calc_Regression(X, y, model, scoring='R2', cv=3):
    """Functions to carry out validation on the regression model.
    Default number of validations cycles is 3. The randon state will be updated 
    at each iteration"""
    
    # store results
    results = []
    # evaluate cv times and append to results
    for i in range(cv):
        # set up train test split
        X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=i , test_size=0.8)
        # Prediction
        y_predict = model.predict(X_test)
        # calc score
        if scoring=='R2':
            score = metrics.r2_score(y_test, y_predict)
        elif scoring=='RMSE':
            score = math.sqrt(metrics.mean_squared_error(y_test, y_predict))
        elif scoring=='MAE':
            score = metrics.mean_absolute_error(y_test, y_predict)
        # append to results
        results.append(score)
    return results

In [19]:
def validation(X,y,model, cvVal=3):
    """Function performs cross validation for input model and store results 
    in dataframe. Cross validation looks at R2 score, RMSE
    and returns a dataframe with results"""

    regression_results = {}
    # metrics to test against
    test_metrics = ['R2','RMSE','MAE']
    
    for metric in test_metrics:
        # generate test results
        result = calc_Regression(X, y, model,cv=cvVal, scoring=metric)
        length = len(result)
        # store result in dict
        regression_results[metric] = sum(result)/length

    # create dataframe with results
    LinRegDF = pd.DataFrame.from_dict(regression_results, orient='index', columns=['Regression'])
    
    return LinRegDF

### Model evaluation

#### Load data

In [20]:
# load dataframe
df_Jan_trips_arr_LINE_DIR = df_Jan_trips_arr.loc[(df_Jan_trips_arr["LINEID"] == "1") &
                                                 (df_Jan_trips_arr["DIRECTION"] == 2)].copy()
# Prepare INPUT and TARGET features
X = df_Jan_trips_arr_LINE_DIR[["year","month","dayofweek_num","quarter","PROGRNUMBER",
                               "STOPPOINTID","PLANNEDTIME_ARR","feels_like","wind_speed","weather_id"]]
Y = df_Jan_trips_arr_LINE_DIR[["ACTUALTIME_ARR"]]

In [21]:
df_Jan_trips_arr_LINE_DIR.head()

,year,month,dayofweek_num,quarter,LINEID,DIRECTION,STOPPOINTID,PROGRNUMBER,PLANNEDTIME_ARR,feels_like,wind_speed,weather_id,ACTUALTIME_ARR
12621,2018,1,0,1,1,2,381,1,36000,-3.5,9.8,802,36123
12622,2018,1,0,1,1,2,382,2,36000,-3.5,9.8,802,36170
12623,2018,1,0,1,1,2,4451,3,36060,-3.5,9.8,802,36189
12624,2018,1,0,1,1,2,383,4,36120,-3.5,9.8,802,36214
12625,2018,1,0,1,1,2,384,5,36180,-3.5,9.8,802,36239

In [22]:
X

,year,month,dayofweek_num,quarter,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,feels_like,wind_speed,weather_id
12621,2018,1,0,1,1,381,36000,-3.5,9.8,802
12622,2018,1,0,1,2,382,36000,-3.5,9.8,802
12623,2018,1,0,1,3,4451,36060,-3.5,9.8,802
12624,2018,1,0,1,4,383,36120,-3.5,9.8,802
12625,2018,1,0,1,5,384,36180,-3.5,9.8,802
...,...,...,...,...,...,...,...,...,...,...
9469532,2018,1,2,1,39,222,85020,-3.3,6.7,803
9469533,2018,1,2,1,40,223,85080,-3.3,6.7,803
9469534,2018,1,2,1,41,224,85140,-3.3,6.7,803
9469535,2018,1,2,1,42,225,85140,-3.3,6.7,803
9469536,2018,1,2,1,43,226,85200,-3.3,6.7,803

In [23]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51314 entries, 12621 to 9469536
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             51314 non-null  category
 1   month            51314 non-null  category
 2   dayofweek_num    51314 non-null  category
 3   quarter          51314 non-null  category
 4   PROGRNUMBER      51314 non-null  category
 5   STOPPOINTID      51314 non-null  category
 6   PLANNEDTIME_ARR  51314 non-null  int32
 7   feels_like       51314 non-null  float64
 8   wind_speed       51314 non-null  float64
 9   weather_id       51314 non-null  category
dtypes: category(7), float64(2), int32(1)
memory usage: 2.0 MB

#### Load model

In [24]:
# load the model 
model = pickle.load(open("models/07/1_2.pkl", 'rb'))

#### Model validity

In [25]:
# Display model validity
print(validation(X,Y,model))

      Regression
R2      0.999660
RMSE  282.299717
MAE   195.815718

#### Test run

In [26]:
print("Y test\n",Y[:10].reset_index(drop=True),"\n")
print("Y predict\n",model.predict(X[:10]))

Y test
    ACTUALTIME_ARR
0           36123
1           36170
2           36189
3           36214
4           36239
5           36258
6           36302
7           36378
8           36391
9           36429

Y predict
 [[36048.69859032]
 [36050.02066576]
 [36095.43989528]
 [36173.46154017]
 [36234.68800139]
 [36236.01007683]
 [36297.23653804]
 [36358.46299925]
 [36359.78507469]
 [36419.03563195]]

## Generate PLANNEDTIME_ARR array and PREDICT
* **Trained models are used for prediction of bus arrivals at time passed from webapp frontend**
* **Planned time arrival timetable for each BUSSTOP is not available**
* **Hence, we are using all unique values available for PLANNEDTIME_ARR for a particular STOPPOINTID on a LINEID for training and prediction**
<br>

* **Algorithm**
    * **INPUT : YEAR, MONTH, DAY_OF_WEEK, QUARTER, DIRECTION, list[STOPOINTID], LINEID, PROGRNUMBER, TIME_INPUT**
    * **generate dataframe with schema [YEAR, MONTH, DAY_OF_WEEK, QUARTER, DIRECTION, LINEID, PROGRNUMBER, PLANNEDTIME_ARR,LIST_STOPOINTID]**
    * **set t = TIME_INPUT**    
    * **For each LINEID-DIRECTION-STOPPOINTID, DO :**
        * **timetable = fetch entries from Jan_trips_arr_TIMETABLE.csv for the tuple**
        * **assign (first entry in timetable > t) to PLANNEDTIME_ARR_present_tuple**
        * **assign t = PLANNEDTIME_ARR_present_tuple**
        * **append to dataframe**   
    * **predict results**

### Generate STOPPOINTID data for LINE 1 DIRECTION 1 : ordered list of PROGRNUMBER

In [27]:
# load dataframe; and select STOPPOINTID data ordered by program number
df_Jan_trips_arr_1_1= df_Jan_trips_arr.loc[(df_Jan_trips_arr["LINEID"] == "41") &
                                           (df_Jan_trips_arr["DIRECTION"] == 1)][['PROGRNUMBER','STOPPOINTID']]\
                                            .sort_values(by=['PROGRNUMBER'])\
                                            .drop_duplicates().copy()

list_STOPPOINTID = df_Jan_trips_arr_1_1['STOPPOINTID'].to_list()
list_PROGRNUMBER = df_Jan_trips_arr_1_1['PROGRNUMBER'].to_list()
print("Stops\n",list_STOPPOINTID,"\n\nProgram Numbers\n",list_PROGRNUMBER)

Stops
 [288, 1171, 1172, 1173, 1174, 1175, 15, 17, 18, 19, 21, 7602, 85, 203, 204, 205, 1620, 220, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 7348, 3669, 3671, 3672, 3674, 3675, 3676, 5073, 5074, 6054, 4330, 3679, 5075, 5076, 3682, 3864, 3865, 4910, 4911, 4912, 4913, 4914, 4915, 4957]

Program Numbers
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]

### prediction model

In [28]:
def predict(YEAR, MONTH, DAY_OF_WEEK, QUARTER, LINEID, DIRECTION, PROGRNUMBER, TIME_INPUT,LIST_STOPOINTID,dt_in):
    
    # define dataframe
    df_X = pd.DataFrame(columns=['year','month','dayofweek_num','quarter','PROGRNUMBER','STOPPOINTID','PLANNEDTIME_ARR',\
                                'feels_like','wind_speed','weather_id'])
    # assign start time : ferry coming to the stop after start time is to be serached 
    t = TIME_INPUT
    # fetch TIMETABLE
    df_TIMETABLE = pd.read_csv("../DB/ML/Jan_trips_arr_TIMETABLE.csv").query('LINEID == @LINEID and DIRECTION == @DIRECTION')
    
    # resolve datetime input to find weather data for the given date
    dt_in = pd.to_datetime(dt_in)
    dt = str(dt_in.date())
    hr = dt_in.hour
    
    # make dictionary of [feels_like,wind_speed, weather_id] entries on given day and hour
    # No dublin bus ride exceeds 3 hour planned journey, hence 3 entries from given input hour are selected
    dates = [dt]
    df_weather = pd.read_csv("../DB/ML/weather_extendedTime_2018.csv",skip_blank_lines=True,index_col=False)
    df_weather = df_weather[df_weather['DAYOFSERVICE'].astype('str') == dt ].drop_duplicates('hour')
    
    # Generate dictionary containing weather parameters for 3 hours including given hour value
    dict_weather = {}
    for h in range(hr,hr+3):
        dict_weather[h] = df_weather.query('hour == @h')[['feels_like', 'wind_speed', 'weather_id']].values.tolist()[0]
        
    '''
    1. query df_TIMETABLE for list of LINEID - DIRECTION ferries
    arriving at stop
    2. from the list of arrival_times; fetch smallest entry > TIME_INPUT and add to tuple as PLANNEDTIME_ARR to tuple
    3. append tuple to df_X
    4. set this PLANNEDTIME_ARR as new t
    '''

    for stop, progrNum in zip(LIST_STOPOINTID,PROGRNUMBER):
        list_timeArr = sorted(df_TIMETABLE.query('STOPPOINTID == @stop')['PLANNEDTIME_ARR'].to_list()) 
        TIME_ARR = next(TIME_ARR for TIME_ARR in list_timeArr if TIME_ARR > t+10)

        # Append tuple to dataframe
        df_X.loc[len(df_X)] = [YEAR, MONTH, DAY_OF_WEEK, QUARTER, progrNum, stop,
                               TIME_ARR, *dict_weather[int(TIME_ARR/3600)]]
        df_X['PLANNEDTIME_ARR'] = pd.to_numeric(df_X['PLANNEDTIME_ARR'], downcast='integer', errors='coerce')
        df_X['feels_like'] = pd.to_numeric(df_X['feels_like'], errors='coerce')
        df_X['wind_speed'] = pd.to_numeric(df_X['wind_speed'], errors='coerce')
        df_X['weather_id'] = df_X['weather_id'].astype('object')
        # Assign TIME_ARR of last STOP to t
        t = TIME_ARR
        
    print("input dataframe \n",df_X)
    
    # Fetch prediction model
    filename = "models/07/"+LINEID+"_"+DIRECTION+".pkl"
    model = pickle.load(open(filename, 'rb'))
    print("Model prediction \n",model.predict(df_X))

### Predict arrival times for next ferry of LINEID 41 DIRECTION 1 after 28800 (8 O' clock)

In [29]:
predict(2018, 1, 1, 1, "41", "1",  list_PROGRNUMBER,28800, list_STOPPOINTID, "2018-01-02T08:00:00")

input dataframe
       year  month  dayofweek_num  quarter  PROGRNUMBER  STOPPOINTID  \
0   2018.0    1.0            1.0      1.0          1.0        288.0
1   2018.0    1.0            1.0      1.0          2.0       1171.0
2   2018.0    1.0            1.0      1.0          3.0       1172.0
3   2018.0    1.0            1.0      1.0          4.0       1173.0
4   2018.0    1.0            1.0      1.0          5.0       1174.0
5   2018.0    1.0            1.0      1.0          6.0       1175.0
6   2018.0    1.0            1.0      1.0          7.0         15.0
7   2018.0    1.0            1.0      1.0          8.0         17.0
8   2018.0    1.0            1.0      1.0          9.0         18.0
9   2018.0    1.0            1.0      1.0         10.0         19.0
10  2018.0    1.0            1.0      1.0         11.0         21.0
11  2018.0    1.0            1.0      1.0         12.0       7602.0
12  2018.0    1.0            1.0      1.0         13.0         85.0
13  2018.0    1.0            1.0      1.0         14.0        203.0
14  2018.0    1.0            1.0      1.0         15.0        204.0
15  2018.0    1.0            1.0      1.0         16.0        205.0
16  2018.0    1.0            1.0      1.0         17.0       1620.0
17  2018.0    1.0            1.0      1.0         18.0        220.0
18  2018.0    1.0            1.0      1.0         19.0       1622.0
19  2018.0    1.0            1.0      1.0         20.0       1623.0
20  2018.0    1.0            1.0      1.0         21.0       1624.0
21  2018.0    1.0            1.0      1.0         22.0       1625.0
22  2018.0    1.0            1.0      1.0         23.0       1626.0
23  2018.0    1.0            1.0      1.0         24.0       1627.0
24  2018.0    1.0            1.0      1.0         25.0       1628.0
25  2018.0    1.0            1.0      1.0         26.0       1629.0
26  2018.0    1.0            1.0      1.0         27.0       1630.0
27  2018.0    1.0            1.0      1.0         28.0       7348.0
28  2018.0    1.0            1.0      1.0         29.0       3669.0
29  2018.0    1.0            1.0      1.0         30.0       3671.0
30  2018.0    1.0            1.0      1.0         31.0       3672.0
31  2018.0    1.0            1.0      1.0         32.0       3674.0
32  2018.0    1.0            1.0      1.0         33.0       3675.0
33  2018.0    1.0            1.0      1.0         34.0       3676.0
34  2018.0    1.0            1.0      1.0         35.0       5073.0
35  2018.0    1.0            1.0      1.0         36.0       5074.0
36  2018.0    1.0            1.0      1.0         37.0       6054.0
37  2018.0    1.0            1.0      1.0         38.0       4330.0
38  2018.0    1.0            1.0      1.0         39.0       3679.0
39  2018.0    1.0            1.0      1.0         40.0       5075.0
40  2018.0    1.0            1.0      1.0         41.0       5076.0
41  2018.0    1.0            1.0      1.0         42.0       3682.0
42  2018.0    1.0            1.0      1.0         43.0       3864.0
43  2018.0    1.0            1.0      1.0         44.0       3865.0
44  2018.0    1.0            1.0      1.0         45.0       4910.0
45  2018.0    1.0            1.0      1.0         46.0       4911.0
46  2018.0    1.0            1.0      1.0         47.0       4912.0
47  2018.0    1.0            1.0      1.0         48.0       4913.0
48  2018.0    1.0            1.0      1.0         49.0       4914.0
49  2018.0    1.0            1.0      1.0         50.0       4915.0
50  2018.0    1.0            1.0      1.0         51.0       4957.0

    PLANNEDTIME_ARR  feels_like  wind_speed weather_id
0             29400         3.2         4.6        500
1             29460         3.2         4.6        500
2             29520         3.2         4.6        500
3             29580         3.2         4.6        500
4             29640         3.2         4.6        500
5             29760         3.2         4.6        500
6             29820         3.2         4.6        500
7             29940         3.2         4.6        500
8             30000         3.2         4.6        500
9             30060         3.2         4.6        500
10            30120         3.2         4.6        500
11            30180         3.2         4.6        500
12            30240         3.2         4.6        500
13            30300         3.2         4.6        500
14            30360         3.2         4.6        500
15            30420         3.2         4.6        500
16            30480         3.2         4.6        500
17            30540         3.2         4.6        500
18            30600         3.2         4.6        500
19            30660         3.2         4.6        500
20            30720         3.2         4.6        500
21            30780         3.2         4.6        500
22            30840         3.2         4.6        500
23            30900         3.2         4.6        500
24            30960         3.2         4.6        500
25            31020         3.2         4.6        500
26            31140         3.2         4.6        500
27            31320         3.2         4.6        500
28            31380         3.2         4.6        500
29            31440         3.2         4.6        500
30            31500         3.2         4.6        500
31            31560         3.2         4.6        500
32            31620         3.2         4.6        500
33            31680         3.2         4.6        500
34            31740         3.2         4.6        500
35            31800         3.2         4.6        500
36            31860         3.2         4.6        500
37            31920         3.2         4.6        500
38            32040         3.2         4.6        500
39            32160         3.2         4.6        500
40            32220         3.2         4.6        500
41            32280         3.2         4.6        500
42            32340         3.2         4.6        500
43            32400         2.1         8.8        500
44            32460         2.1         8.8        500
45            32700         2.1         8.8        500
46            32760         2.1         8.8        500
47            32820         2.1         8.8        500
48            32880         2.1         8.8        500
49            33000         2.1         8.8        500
50            33060         2.1         8.8        500
Model prediction
 [[29514.04083623]
 [29573.7106221 ]
 [29633.38040796]
 [29693.05019382]
 [29752.71997969]
 [29872.40353315]
 [29948.8467193 ]
 [30068.53027276]
 [30128.20005863]
 [30187.86984449]
 [30247.53963035]
 [30260.03422791]
 [30367.9275396 ]
 [30427.59732546]
 [30487.26711133]
 [30546.93689719]
 [30599.26832043]
 [30667.32480644]
 [30719.65622968]
 [30779.32601554]
 [30838.9958014 ]
 [30898.66558727]
 [30958.33537313]
 [31018.005159  ]
 [31077.67494486]
 [31137.34473072]
 [31257.02828418]
 [31412.61384233]
 [31497.44372862]
 [31557.11351449]
 [31616.78330035]
 [31676.45308622]
 [31736.12287208]
 [31795.79265794]
 [31842.88239359]
 [31902.55217946]
 [31960.12529028]
 [32033.42346388]
 [32158.34870493]
 [32264.40387066]
 [32324.07365652]
 [32399.46850516]
 [32459.13829102]
 [32511.42112946]
 [32570.0425778 ]
 [32809.75366646]
 [32869.42345232]
 [32929.09323819]
 [32988.76302405]
 [33108.44657751]
 [33168.11636337]]

**OUTCOMES AND OBSERVATIONS**
* **ERROR BETWEEN PREDICTION AND PLANNED ARRIVAL TIME SEEM SATISFACTORY AT GLANCE**
* **THOUGH, IT SHOULD BE NOTED THAT, TOTAL TIMETABLE FETCHED PLAYS MAJOR ROLE IN SELECTING PLANNEDTIME_ARR PARAMETER**
    * **IN ABOVE EXAMPLE, TOTAL JOURNEY TIME IS FOR PLANNEDTIME_ARR INPUT IS $(33060-29400)\ /60 = 61$ MINUTES; WHEREAS [IDEAL JOURNEY TIME FOR LINE 41](https://www.dublinbus.ie/Your-Journey1/Timetables/All-Timetables/412/)  DEFINED BY DUBLIN BUS OPERATORS IS ITSELF NEARLY $68$ MINUTES**
    * THIS HAPPENED DUE TO OF ROUND-OFF TO MINUTES OPERATION; WHICH FLOORED PLANNEDTIME_ARR COLUMN TO NEAREST MINUTE VALUE